<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="initial-scale=1.0" />
    <title>1ClickStudios | Build Memories</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="dist/css/styles.css">
    <link rel="stylesheet" type="text/css" href="lib/OwlCarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="lib/OwlCarousel2/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="lib/lightbox2/dist/css/lightbox.min.css">
</head>

<body>
    <!-- Fixed navbar -->
    <div id="header"></div>
    <div class="container page-container theme-default" role="main">
        <div class="page-header">
        	<h1>Galleries</h1>
        </div>

        <div class="page-header">
        	<h3>Events - Baptism</h3>
        </div>

        <div class="row">
        	<div class="col-lg-3 col-sm-4 col-xs-6"><a class="thumbnail img-wrapper" title="Image 1" href="galleries/events/baptism/img1.jpg" data-lightbox="example-set" data-title="Image 1"><img class="img-responsive" src="galleries/events/baptism/img1.jpg" height="350"></a></div>
        	<div class="col-lg-3 col-sm-4 col-xs-6"><a class="thumbnail img-wrapper" title="Image 2" href="galleries/events/baptism/img2.jpg" data-lightbox="example-set" data-title="Image 2"><img class="img-responsive" src="galleries/events/baptism/img2.jpg"></a></div>
        	<div class="col-lg-3 col-sm-4 col-xs-6"><a class="thumbnail img-wrapper" title="Image 1" href="galleries/events/baptism/img3.jpg" data-lightbox="example-set" data-title="Image 1"><img class="img-responsive" src="galleries/events/baptism/img3.jpg" height="350"></a></div>
        	<div class="col-lg-3 col-sm-4 col-xs-6"><a class="thumbnail img-wrapper" title="Image 2" href="galleries/events/baptism/img4.jpg" data-lightbox="example-set" data-title="Image 2"><img class="img-responsive" src="galleries/events/baptism/img4.jpg"></a></div>
        	<div class="col-lg-3 col-sm-4 col-xs-6"><a class="thumbnail img-wrapper" title="Image 1" href="galleries/events/baptism/img5.jpg" data-lightbox="example-set" data-title="Image 1"><img class="img-responsive" src="galleries/events/baptism/img5.jpg" height="350"></a></div>
        	<div class="col-lg-3 col-sm-4 col-xs-6"><a class="thumbnail img-wrapper" title="Image 2" href="galleries/events/baptism/img6.jpg" data-lightbox="example-set" data-title="Image 2"><img class="img-responsive" src="galleries/events/baptism/img6.jpg"></a></div>
        </div>

        <div class="page-header">
        	<h3>Wedding</h3>
        </div>

        <div class="row">
        	<div class="col-lg-3 col-sm-4 col-xs-6"><a class="thumbnail img-wrapper" title="Image 1" href="galleries/wedding/img1.jpg" data-lightbox="example-set" data-title="Image 1"><img class="img-responsive" src="galleries/wedding/img1.jpg" height="350"></a></div>
        	<div class="col-lg-3 col-sm-4 col-xs-6"><a class="thumbnail img-wrapper" title="Image 2" href="galleries/wedding/img2.jpg" data-lightbox="example-set" data-title="Image 2"><img class="img-responsive" src="galleries/wedding/img2.jpg"></a></div>
        </div>
    </div>
    <div id="footer"></div>
    <script type="text/javascript" src="lib/jquery/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="lib/lightbox2/dist/js/lightbox-plus-jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="dist/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="lib/OwlCarousel2/dist/owl.carousel.min.js"></script>
    <script type="text/javascript" src="dist/js/include.js"></script>
    <script type="text/javascript" src="dist/js/home.js"></script>
    <script type="text/javascript" src="dist/js/galleries.js"></script>

</body>

</html>
